body{
  /* background-color: darksalmon; */
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  
}
.header_right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.buttons{
  background-color: #d53c28;
  color: rgb(255, 251, 251);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.block3{
  display: flex;
  /* background-color: burlywood; */
}
.finddonor{
  margin-left: 30px;
  border: solid black;
  margin-right: 1050px;
  /* background-color: blue; */
}
.findadonor{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.process{
  /* background-color: aquamarine; */
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location-of-donation{
  /* background-color: aqua; */
  border: solid black;
}


